.information__accountSection {
  .reverse {
    opacity: 1;
  }
  display: grid;
  grid-template-rows: repeat(5, auto);
  h1 {
    font-size: 1em;
    color: white;
    font-weight: 400;
  }
  a {
    transition: all 0.3s;
    font-size: 0.875em;
  }
}
