@import "@styles/variables.module.scss";

.linkBasket {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: end;
  grid-column-gap: 16px;
  cursor: pointer;
  .linkBasket__counter {
    position: absolute;
    border-radius: 50%;
    z-index: 100;
    transition: all 0.3s;
    background-color: #2c742f;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 0.625em;
    width: 20px;
    height: 20px;
    left: 11.607%;
    top: 10.41%;
  }
  .linkBasket__icon {
    width: 26px;
    height: 26px;
    transition: all 0.3s;
  }
  .linkBasket__inner {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 4px;
    width: 100%;
    .linkBasket__title {
      font-size: 0.68em;
      color: $gray;
      transition: all 0.3s;
    }
    .linkBasket__price {
      font-size: 0.875em;
      color: black;
      font-weight: 500;
      transition: all 0.3s;
    }
  }
}
