@media (hover: hover) {
  #root .btnAddBasket:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  #root .btnAddBasket:active {
    transform: scale(1.1);
  }
}
@media (max-width: 1000px) {
  #root .btnModal .btnModal__content {
    width: 80%;
  }
}
@media (max-width: 600px) {
  #root .btnModal .btnModal__content {
    width: 95%;
  }
}
