@media (hover: hover) {
  #root .register .register__container {
    .register__form {
      .register__wrapInputs {
        .register__innerInput .register__iconEye:hover {
          transform: scale(1.1);
        }
      }
      .register__innerCheckbox:hover {
        transform: scale(1.05);
      }
      .register__button:hover {
        transform: scale(1.05);
        background-color: #1a1a1a;
      }
    }
    .register__innerLink .register__link:hover {
      transform: scale(1.1);
    }
  }
}
@media (hover: none) {
  #root .register .register__container {
    .register__form {
      .register__wrapInputs {
        .register__innerInput .register__iconEye:active {
          transform: scale(1.1);
        }
      }
      .register__innerCheckbox:active {
        transform: scale(1.05);
      }
      .register__button:active {
        transform: scale(1.05);
        background-color: #1a1a1a;
      }
    }
    .register__innerLink .register__link:active {
      transform: scale(1.1);
    }
  }
}
@media (min-width: 2000px) {
  #root .register {
    font-size: 1.2em;
    .navigate {
      height: 140px;
      .navigate__wrap {
        .navigate__linkHome .navigate__iconHouse {
          width: 20px;
          height: 21px;
        }
        .navigate__iconArrow {
          width: 12px;
          height: 10px;
        }
      }
    }
    .register__container {
      grid-row-gap: 40px;
      .register__form {
        grid-row-gap: 35px;
        .register__wrapInputs {
          grid-row-gap: 35px;
          .register__innerInput {
            grid-column-gap: auto 6%;
            .register__iconEye {
              width: 24px;
              height: 18px;
            }
          }
        }
        .register__innerCheckbox {
          grid-column-gap: 14px;
          .register__checkbox {
            width: 25px;
            height: 25px;
          }
        }
        .register__button {
          height: 50px;
        }
      }
      .register__innerLink {
        grid-column-gap: 10px;
      }
    }
  }
}
@media (min-width: 2300px) {
  #root .register {
    font-size: 1.4em;
    .navigate .navigate__wrap {
      .navigate__linkHome .navigate__iconHouse {
        width: 24px;
        height: 24px;
      }
      .navigate__iconArrow {
        width: 16px;
        height: 12px;
      }
    }
    .register__container .register__form .register__button {
      height: 60px;
    }
  }
}
@media (min-width: 2700px) {
  #root .register {
    font-size: 1.6em;
    .navigate {
      .navigate__wrap {
        .navigate__linkHome .navigate__iconHouse {
          width: 30px;
          height: 30px;
        }
        .navigate__iconArrow {
          width: 18px;
          height: 14px;
        }
      }
    }
    .register__container {
      grid-row-gap: 50px;
      margin: 100px 0 100px 0;
      .register__form {
        grid-row-gap: 45px;
        .register__wrapInputs {
          grid-row-gap: 45px;
          .register__innerInput {
            grid-column-gap: auto 8%;
            .register__iconEye {
              width: 28px;
              height: 22px;
            }
          }
        }
        .register__innerCheckbox {
          grid-column-gap: 18px;
          .register__checkbox {
            width: 30px;
            height: 30px;
          }
        }
        .register__button {
          height: 70px;
        }
      }
    }
  }
}
@media (min-width: 3100px) {
  #root .register {
    font-size: 1.8em;
    .navigate {
      height: 160px;
      .navigate__wrap {
        .navigate__linkHome .navigate__iconHouse {
          width: 34px;
          height: 34px;
        }
        .navigate__iconArrow {
          width: 20px;
          height: 18px;
        }
      }
    }
    .register__container {
      grid-row-gap: 60px;
      margin: 120px 0 120px 0;
      .register__form {
        grid-row-gap: 55px;
        .register__wrapInputs {
          grid-row-gap: 55px;
          .register__innerInput {
            grid-column-gap: auto 9%;
            .register__iconEye {
              width: 30px;
              height: 25px;
            }
          }
        }
        .register__innerCheckbox {
          .register__checkbox {
            border-radius: 8px;
          }
          .register__checkbox[type="checkbox"]:checked::before {
            border-radius: 8px;
          }
        }
        .register__button {
          height: 80px;
        }
      }
    }
  }
}
@media (min-width: 3400px) {
  #root .register {
    font-size: 2em;
    .navigate {
      height: 180px;
      .navigate__wrap {
        .navigate__linkHome .navigate__iconHouse {
          width: 36px;
          height: 36px;
        }
        .navigate__iconArrow {
          width: 22px;
          height: 20px;
        }
      }
    }
  }
}
@media (min-width: 3700px) {
  #root .register {
    font-size: 2.2em;
    .navigate {
      height: 240px;
      .navigate__wrap {
        .navigate__linkHome .navigate__iconHouse {
          width: 40px;
          height: 40px;
        }
        .navigate__iconArrow {
          width: 26px;
          height: 22px;
        }
      }
    }
    .register__container {
      grid-row-gap: 80px;
      margin: 140px 0 140px 0;
      .register__form {
        grid-row-gap: 75px;
        .register__wrapInputs {
          grid-row-gap: 75px;
          .register__innerInput {
            grid-column-gap: auto 10%;
            .register__iconEye {
              width: 34px;
              height: 28px;
            }
          }
        }
        .register__innerCheckbox {
          .register__checkbox {
            width: 34px;
            height: 34px;
          }
        }
        .register__button {
          height: 90px;
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  #root .register {
    font-size: 0.9em;
    .register__container .register__form .register__button {
      height: 40px;
    }
  }
}
@media (max-width: 1400px) {
  #root .register {
    .navigate {
      height: 100px;
    }
    .register__container {
      width: 35%;
    }
  }
}
@media (max-width: 1000px) {
  #root .register {
    .register__container {
      width: 50%;
    }
    .navigate {
      height: 90px;
      .navigate__wrap {
        width: 95%;
      }
    }
  }
}
@media (max-width: 800px) {
  #root .register .register__container {
    width: 60%;
    margin: 50px 0 50px 0;
  }
}
@media (max-width: 700px) {
  #root .register .register__container {
    width: 75%;
  }
}
@media (max-width: 500px) {
  #root .register .register__container {
    width: 85%;
    margin: 20px 0 20px 0;
  }
}
@media (max-width: 400px) {
  #root .register .register__container {
    width: 95%;
  }
}
