@import "./mediaAdvertising.module.scss";
@import "./mediaBanners.module.scss";
@import "./mediaFeaturedProducts.module.scss";
@import "./mediaFeaturesStore.module.scss";
@import "./mediaHoDeals.module.scss";
@import "./mediaLatestNews.module.scss";
@import "./mediaPopularCategories.module.scss";
@import "./mediaPopularProducts.module.scss";
@import "./mediaSectionInstagram.module.scss";
@import "./mediaStocks.module.scss";

@media (min-width: 2000px) {
  #root .home {
    font-size: 1.2em;
  }
}
@media (min-width: 2300px) {
  #root .home {
    font-size: 1.4em;
  }
}
@media (min-width: 2800px) {
  #root .home {
    font-size: 1.6em;
  }
}
@media (min-width: 3100px) {
  #root .home {
    font-size: 1.8em;
  }
}
@media (min-width: 3500px) {
  #root .home {
    font-size: 2em;
  }
}
@media (min-width: 3700px) {
  #root .home {
    font-size: 2.2em;
  }
}
