.information__iconsPayment {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: end;
  align-content: center;
  gap: 8px;
  .information__iconSecurePayment {
    width: 65px;
    height: 32px;
  }
  .information__iconPay {
    width: 45px;
    height: 32px;
  }
}
