@media (max-width: 2700px) {
  #root .sectionTeam {
    grid-row-gap: 40px;
    .sectionTeam__innerTitle {
      grid-row-gap: 35px;
    }
  }
}
@media (max-width: 1400px) {
  #root .sectionTeam .sectionTeam__innerTitle {
    width: 50%;
    .sectionTeam__title {
      font-size: 2.8em;
    }
  }
}
@media (max-width: 1300px) {
  #root .sectionTeam .sectionTeam__innerTitle .sectionTeam__title {
    font-size: 2.7em;
  }
}
@media (max-width: 1200px) {
  #root .sectionTeam .sectionTeam__innerTitle .sectionTeam__title {
    font-size: 2.5em;
  }
}
@media (max-width: 1000px) {
  #root .sectionTeam {
    width: 95%;
    padding: 50px 0 50px 0;
    .sectionTeam__innerTitle {
      width: 70%;
    }
  }
}
@media (max-width: 760px) {
  #root .sectionTeam {
    grid-row-gap: 30px;
  }
}
@media (max-width: 500px) {
  #root .sectionTeam .sectionTeam__innerTitle {
    width: 95%;
  }
}
